*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu","SolaimanLipi",sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-feature-settings: "tnum","tnum";
    font-variant: tabular-nums;
}

/* Global Color */
:root {
    --primary-color: rgb(0, 142, 72); 
    --background-color: #F5F5F5; 
    --text-color: green; 
    --link-color:#008e48;
    --navbar-dark:#033b1e;
    --navbar-item-text:white;
    --ourwork-bg1: linear-gradient(45deg, rgb(51, 153, 102), rgb(0, 153, 153));
    --ourwork-bg2: linear-gradient(45deg, rgb(0, 153, 204), rgb(0, 153, 153));
}
 

/* Navbar */
.nav-item a {
    color: var(--navbar-item-text);
    padding: 10px 15px;
}
.nav-item a.active {
    border-bottom: 2px solid var(--primary-color);
}
.nav-item a:hover {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
}
.btn-custom {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}
.btn-custom:hover {
    background-color: var(--primary-color);
}

/* Time line design */
.timeline {
    position: relative;
    padding-left: 25px;
}

.timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40px; 
}



.timeline-item::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 15px;
    width: 2px;
    height: calc(100% + 10px);
    background: #e8e8e8;
}
@media (max-width: 425px) {
.timeline-item::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 32px;
    width: 2px;
    height: calc(100% + 5px);
    background: #e8e8e8;
}
}
.timeline-item:last-child::after {
    display: none;
}


.timeline-icon {
    position: relative; 
    border:2px solid #52c41a;
    border-radius: 50%;
    z-index: 1;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Prevent shrinking */
}

/* Image gallery */
.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
}
.position-relative:hover .hover-overlay {
    opacity: 1;
}
  

/* about page */
.menu-item {
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease-in-out;
    position: relative;
}
.menu-item.active {
    color: green;
    font-weight: bold;
}
.border-indicator {
    position: absolute;
    top: 0;
    right:-14px;
    width: 3px;
    height: 40px;
    background-color: green;
    transition: top 0.4s ease-in-out;
}


.content { display: none; }
.content.show { display: block; }

@media (max-width: 425px) {
    .menu-item {
        padding: 10px;
        cursor: pointer;
        font-weight: 500;
        transition: background 0.3s ease-in-out;
        white-space: nowrap;
        min-width: max-content;
        position: relative;
    }
  
}


 /* Responsive Design */
 @media (min-width: 320px) and (max-width: 425px) {
        .logo img {
            width:50px;
        }
        .btn-custom {
            font-size: 12px;
            padding: 4px 10px;
        }
    }




  
